/* HEADER */

@media (max-width:1115px){
    .menu_right li:nth-of-type(3){
        display: none;
    }
}

@media (max-width:970px){
    .container_getIn {
        display: none;
    }
}

@media (max-width:862px){
    .menu_right li:nth-of-type(2) {
        display: none;
    }
}

/* DISPLAY HEADER MOBILE */
@media (max-width:780px){
    .header_container {
        display: none;
    }

    .header_mobile{
        display: flex;
    }
}

/* FIM HEADER */


/* SLIDER */
@media (max-width:1005px){
    .slider{
        height: 390px ;
    }
}

@media (max-width:860px){
    .slider{
        height: 300px ;
    }
}
@media (max-width:540px){
    .slider{
        height: 280px;
    }

    .controls_sides{
        display: none ;
    }

    .slider_card1{
        background-image: url('../assets/images/banner_1238893150_mobile.jpg');
        
    }
    .slider_card2{
        background-image: url('../assets/images/banner_2437495195_mobile.jpg');
    }
}